.li {
  list-style: none;
  display: flex;
  padding: 0.8rem 1rem;
  align-items: center;
  transition: 200ms ease-in;
  border-radius: 0.4rem;
}

.li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.171);
}

.date {
  font-size: 0.8rem;
  color: rgb(59, 59, 59);
}

.title {
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(22, 22, 22);
}

.img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 0.4rem;
}
