.main {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1em;
}

.date_and_author {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.author {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.8rem;
}

.date {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.8rem;
}

.img {
  width: 100%;
}

.prof_pic {
  max-width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.article {
  font-size: 16px;
  line-height: 1.7;
  width: 100%;
  word-break: break-all;
}

.title {
  font-size: 1.5rem;
}

.not_logged_in {
  padding: 1em;
  font-size: 2rem;
  text-align: center;
}
