.main {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1em;
}

.date_and_author {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.author {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.8rem;
}

.date {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.8rem;
}

.img {
  width: 100%;
}

.prof_pic {
  max-width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.article {
  font-size: 16px;
  line-height: 1.7;
  width: 100%;
  word-break: break-all;
}

.title {
  font-size: 1.5rem;
}

.not_logged_in {
  padding: 1em;
  font-size: 2rem;
  text-align: center;
}

.header {
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
}

.animated {
  color: white;
  padding: 1em;
  width: 100%;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-50px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
