.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  border-radius: 0.4em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 0 auto;
  width: 80%;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  padding: 1em;
  text-align: center;
  font-size: 1.5rem;
}

.btns {
  display: flex;
  gap: 1em;
}

.change {
  width: 35%;
}

.submit {
  width: 65%;
}
